
       body{
        margin-top: 250px;
        display: flex;
        justify-content: center;
        background-color: black;
       }
        .card{
            height: 250px;
            width: 250px;
            text-align: center;
            background-color: black;
            border-radius: 10px;
            color: white;
            position: relative;
        }
        @property  --angle{
            syntax: "<angle>";
            initial-value: 0deg;
            inherits: false;
        }
       .card::after,.card::before{
       
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from var(--angle), transparent,yellow,transparent,red,transparent,rgb(9, 218, 9),transparent,blue,transparent,orange,transparent,rgb(252, 4, 219),transparent,rgb(0, 93, 14));
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        padding: 2px;
        border-radius: 10px;
        animation: 3s spin linear infinite;
       }
       .card::before{
        filter: blur(1.5rem);
        opacity: 0.8;
       }
       @keyframes spin {
        from{
            --angle: 0deg;
        }
        to{
            --angle:360deg;
        }
       }